/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1rem 2rem 4rem;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	background: rgb(202, 202, 202);
	padding: 1.5rem 0.5rem 1.25rem;
	}

h1 {
	width: 15em;
	}

h2, h3, h4 {
	font-weight: 700;
	}

h2 {
	font-size: 2.25rem;
	margin: 2rem 0rem 0.5rem;
	}
	
h3 {
	font-size: 1.6rem;
	margin: 2rem 0rem 1rem;
}

body {  
    font-family: sans-serif;  
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1.25em;

}

main.menu ul {
	margin: 2rem 0rem;
}	

main.menu ul li {
	margin: 2rem 0rem 2rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}	

p {
	margin: 1rem 0rem 1rem;
	}
	
p.description {
	grid-column: 1/3;
	margin:0rem;
	padding-bottom: 1rem;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(219, 0, 0);
	text-align: right;
	margin: 0rem;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.55rem;
	}
	
nav ul li a {
	font-size: 1rem;
	color: rgb(255, 255, 59);
	background-color: rgb(0, 0, 250);
	padding: 0.5rem;
	}

p.slogan {
	font-size: 3.75rem;
	font-family: serif;  
    font-style: italic;  
	margin: 4rem 0rem 6rem;
	color: rgb(250, 250, 250);	
	}
	
footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 3rem; 
  	box-sizing: border-box;
  	padding: 1rem 0.5rem;
  	background: rgb(255, 255, 59);
}

address {
	color: rgb(228, 134, 31);
	}

footer p {
	margin: 0;
}

