/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
background: url("ironoffice.png") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-position: center;	
background-size: cover;
	position: relative;
	background-color: rgb(163, 182, 205); /* stays underneath image */
	min-height: 100vh;

}

div.container { 
	position: relative;
	min-height: 100vh;
	background-color: rgb(163, 182, 205); /* stays underneath image */
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 2.5rem;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}
header img {
   width: 18.75em !important;   /* or whatever you want */
  height: auto;
}
header {
	display: grid;
	grid-template-columns: 1fr auto;
	background: rgb(163, 182, 205);
	padding: 2.5rem;
	}

h1 {
	width: 13em;
	}

 h3, h4 {
			font-family: "futura-100", sans-serif;
font-weight: 700;
font-style: normal;


	
	}

h2 {
	font-size: 2.25rem;
	margin: 1rem 0 0.75rem;
	font-family: "nasalization", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(4, 4, 75);
	}
	
h3 {
	font-size: 2rem;
	margin: 1rem 0 1rem;
	font-family: "nasalization", sans-serif;
	font-style: normal;
	color: rgb(4, 4, 75);
}

h4 {
	font-size: 1.5rem;
	margin-top: 1rem;
	color: rgb(4, 4, 75);
}


a {
	text-decoration:none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 2em;
}

main.menu ul {
		margin: 0;
}	

main.menu ul li {
		margin: 1rem 0 1.5rem;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: baseline;
		grid-template-rows: auto auto;
		column-gap: 1.5rem;
}	

p {
	margin: 0.5rem 0.5rem 0rem ;
	font-family: "futura-100", sans-serif;
	font-weight:400;
	font-style: normal;
	font-size: 1.25rem;
	}
	
p.description {
	grid-column:1 / 3;
	margin: 0 0 1rem;
	color: rgb(4, 4, 75);
	
	
	}
	
p.price {
	grid-row: 1;
	grid-column: 2/3;
	margin:0;
	align-items: baseline;
	color: rgb(4, 4, 75); 
	text-align: right;

	
	}
	
	
nav ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 2rem;
	}
	
nav ul li a {
	color: rgb(164, 216, 255);
		font-family: "nasalization", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: rgb(4, 4, 75); 
	padding: 0.5em 1em 0.5em;
	
	
	}

	nav ul li.selected a {
    background: rgb(180, 209, 255);
    color: rgb(4, 4, 75); 
}

p.slogan {
	font-family: "nasalization", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:4rem;
	margin: 0.5rem 0 1.75rem;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background: rgb(163, 182, 205);
}

address {
	color: rgb(255, 255, 255);
	font-family: "futura-100", sans-serif;
font-weight: 700;
font-style: normal;
font-size:1.25rem;
	}

footer p {
	margin: 0;
}




body {
	font-family: sans-serif;
	line-height: 1.6;
	background-color: rgb(163, 182, 205);
}
article {
	
	max-width: 50em;
	margin: 2rem auto;
	
}
@media screen and (min-width: 60em) {
  nav ul li { 
        display: inline;
	 	margin: 1rem ;
    }
	nav {
		align-self: center;
		font-size:1.4em;
	}
	main.menu ul {
		display:grid;
		grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4em;
	}


  div.container,
    div.home-container {
        max-width: 60em;
        margin: auto;
		background-color: rgb(163, 182, 205);
        
	}
}