/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	display: block;
	}

	div.container {
	display: flex;
	 flex-wrap: wrap;
	}

	header {
	flex: 0 0 100%;
	padding-left: 4rem;
	text-align: left;
	}
article {
	flex: 2 0 20em;
	padding: 0 4rem;
	
	
}
figure {
	margin: 0;
}
aside {
	flex: 1 0 10em;
	padding: 0 4rem;
}
footer {
	flex: 0 0 100%;
	border-top:#d8d8d8 1px solid;
	margin: 0 0 4rem;

	
	}

	section {
	background-color: rgb(238,238,238);
	margin: 0 0 2rem;
	padding: 1rem;
	}
	
a {
	text-decoration: none;
		color: inherit;   
		margin-left: 4rem;
}
